AddType 'text/html; charset=ISO-8859-1' html

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript application/json
</IfModule>

#<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz)$">
    Header append Vary Accept-Encoding
    Header add Access-Control-Allow-Origin *
  </FilesMatch>
#</IfModule>

#<IfModule mod_cache.c>
    <FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif|js|css)$">
        Header set Expires "Sun, 01 Jan 2012 23:30:00 GMT"
        Header set Last-Modified "Thu, 28 Jul 2011 01:00:00 GMT"
    </FilesMatch>
#</IfModule>
