body { 
	overflow: hidden;
}
#hg_nav {
	top: 6px;
}
#hg_journal_loading {
	position: absolute;
	color: #fff;
	top: 20px;
	left: 20px;
	font-size: 1.2em;
	font-family: Helvetica, sans-serif;
	visibility: visible;
}
#hg_journal_loading img {
	padding-top: 5px;
	width: 20px; 
	height: 19px;
	margin-left: 5px;
}
#hg_journal_tabs {
	height: 98%;
}
.tab { 
	/*top: 8px;*/
	width: 99.98% !important; 
}
.tab_name {
	background-color: #b58455;/*ac7e51;a87b4f;*/
	/*border-color: #ce9660;8b6541;694d31;*/
	border-color: #8b6541;/*694d31;*/
}
.tab_name:hover {
	background-color: #cc9f72;
}
.tab_content {
	/*height: 700px !important;*/
	width: 98.3% !important;
	background-color: #ffffff;
}
.tab_content iframe {
	border: none !important;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
}
.left_tab > .tab_name {
	background-color: #e4ecc5 !important;
	border-color: #c9d49a !important;
	border-right-color: #bac48e !important;
}
.left_tab > .tab_name:hover {
	background-color: #c9d0ae/*9ca578*/ !important;
	border-right-color: #c9d0ae/*9ca578*/ !important;
}
.left_tab > .selected_tab, 
.left_tab > .selected_content {
	background-color: #eff4dd/*fdf6f1*/ !important;
	border-color: #998374 !important;
	border-right-color: #fdf6f1 !important;
}
.left_tab > .selected_tab:hover {
	background-color: #eff4dd/*fdf6f1*/ !important;
}
.top_tab > .selected_tab {
	background-color: #ffffff;
	border-color: #c0c0c0;
}
.left_tab > .tab_content,
.left_tab > .tab_content {
	/*height: 715px;*/
}
.distinct_row {
	/*background-color: #f2f2f2 !important;*/
	/*background-color: #fdf6f1 !important;*/
	background-color: #e4ecc5 !important;
}
.sort_arrow {
	position: relative;
	top: -2px;
	width: 10px;
	border: none;
	margin-left: 5px;
}
#hg_journal_filter {
	position: absolute;
	top: 40px;
	right: 10px;
	margin-top: 5px;
	z-index: 10;
}
#hg_journal_filter span {
	color: #A8A8A8;
	font-family: Arial, sans-serif;
	font-size: 0.68em;
	padding-bottom: 3px;
}
#hg_journal_filter_exp:hover, 
.list_filter_focus {
	color: #000;
	width: 500px;
}
#hg_journal_filter_exp {
	background-color: #ffffff;
	color: #505050;
	border: 1px solid #c0c0c0;
	visibility: hidden;
}
#hg_journal_filter_exp [type="Text"] {
	background-color: red;
}
#journal_scroller {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 93%;
}
#journal_control_area {
	background-color: #ffffff;
	height: 45px;
	border-bottom: 1px solid #998374;
}	
#journal_expand_collapse {
	position: absolute;
	top: 8px;
	left: 10px;
	color: #c0c0c0;
	font-family: Verdana;
	font-size: 0.7em;
}
#journal_expand_collapse a {
	color: #000;
}
#journal_sorter {
	position: absolute;
	top: 35px;
	left: 10px;
	width: 100%;
	cursor: pointer;
	font-family: Garamond;
	font-size: 0.9em;
	font-weight: bold;
}
#journal_sorter span + span {
	float: right;
	margin-right: 35px;
}
#journal {
	width: 100%;
	position: relative;
}
#journal tr td {
	vertical-align: top;
	text-align: left;
	padding-right: 10px;
	cursor: default;
	font-size: 0.9em;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
#journal tr td table {
	margin-right: 30px;
}
#journal tr td table + span {
	font-size: 1.05em;
}
}
