#products_tab {
    padding-top: 35px;
}

.left_tab span.tab_name {
    width: 94px !important;
}

.left_tab div.tab_content {
    left: 106px !important;
}

.products_scroller {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 93%;
    width: 92.5%;
}

#products_controls {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 0.9em;
}
#products_controls div {
	display: inline;
	margin-right: 10px;
}
#products_controls div > span {
	font-weight: bold;
	padding-right: 5px;
}
#products_controls div > span + span,
#products_controls div > select {
	font-weight: normal;
	font-size: 0.8em;
}
#products_controls select {
}
#products_controls a {
	cursor: pointer;
}

.tea_journal_entry_picture {
    width: 120px;
    text-align: center !important;
}

.tea_journal_entry_name {
	font-weight: bold;
}

.tea_journal_entry_fixins {
	font-size: 0.75em;
	font-weight: normal;
}

.tea_journal_entry_steeping_details {
    padding-top: 8px;
}

.tea_journal_entry_rating {
    display: table-cell;
    vertical-align: bottom;
}
.tea_journal_entry_rating img {
	height: 40px;
	padding-right: 10px;
}

#journal_expand_collapse {
    visibility: hidden;
}

.tea_product_entry {
	font-size: .8em;
}

.tea_product_entry_pics {
	text-align: center;
}

.tea_product_entry td + td {
	height: 100%;
    border-top: 1px solid #9CA578;
}

.tea_product_entry_name td {
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: 0px;
	margin-bottom: 0px;
    font-family: 'Gill Sans', 'Trebuchet MS', 'Lucida Sans Unicode', Verdana, Georgia;
}

.tea_product_entry_name td span {
	color: red;
    font-family: Tahoma, sans-serif;
	font-weight: normal;
	font-size: 0.6em;
    padding-left: 8px;
}

.tea_product_entry_type {
	position: relative;
	top: -7px;
	margin: 0px;
	padding: 0px 240px;

	color: rgb(92, 68, 44);
	font-size: 0.85em;
	font-family: Tahoma, 'Gill Sans', 'Century Gothic', Tahoma, sans-serif;
}

.tea_product_entry_details,
.tea_product_entry_ratings td table td {
    font-size: 0.7em;
	font-family: Tahoma, sans-serif;
}

.tea_product_entry_details {
	margin-top: 0px;
	padding-top: 0px;
}
.tea_product_entry_details tr td,
.tea_product_entry_details tr td + td + td
{
	font-weight: bold;
	border: 0px;
}

.tea_product_entry_details tr td + td,
.tea_product_entry_details tr td + td + td + td
{
	font-weight: normal;
	border: 0px;
}

.tea_product_entry_details tr td + td + td {
	padding-left: 10px;
}

.tea_product_entry_ratings td 
{
	vertical-align: top;
}

.tea_product_entry_ratings td table td {
	font-weight: normal !important;
}

.tea_product_entry_ratings img {
	width: 15px;
	padding-right: 3px;
}
