body {
    /*background-color: #796354;*/ /*#674e3d;*/
    /*background-color: #FF6600; Burnt Orange*/
    /*background-color: #660000; Chicago Maroon*/
    background-image: url('../img/hg_bg.jpg');    
}
a { text-decoration: none; }
.tab { 
    border-color: #fff !important;
}
.tab_name {
    background-color: #bfa391 !important;
    border-color: #d3b4a0 !important;
}
.tab_name:hover {
    background-color: #d3b4a0 !important;
}
.left_tab > .tab_name {
    border-right-color: #af9685 !important;
}
.left_tab .tab_content {
    width: 91% !important;
}
.selected_tab , 
.selected_tab:hover {
    background-color: #fff !important;
    border-color: #998374 !important;
    font-weight: bold !important;
}
.selected_tab_bridge {
    border-color: #998374 !important;
}
.tab_content {
    background-color: #fff !important;
    border-color: #998374 !important;
}
