.tab {
    position: absolute;
    visibility: hidden;
}
.top_tab {
    top: 14px;
}

.tab_name {
    background: none;
    position: relative;
    border: 1px solid #c0c0c0;
    cursor: default !important;
    font-family: helvetica;
    font-weight: bold;
    font-size: 0.7em;
    z-index: 3;
}
.top_tab .tab_name {
    top: 0px;
    padding: 4px 6px;
}
.bottom_tab .tab_name {
    bottom: -2px;
    padding: 4px 6px;
    z-index: 3;
}
.tab_name:hover {
    background-color: #dcdcdc;
}
.tab_name a {
    text-decoration: none !important;
    color: #000000 !important;
    cursor: default !important;
}
.left_tab > .tab_name {
    display: block;
    /*position: relative;*/
    padding-right: 4px;
    border-right: 1px solid #c0c0c0;
}
.selected_tab ,
.selected_tab:hover {
    display: block;
    border: 1px solid #c0c0c0;
    background-color: #ffffff;
    margin: 0px;
}
.top_tab > .selected_tab,
.top_tab > .selected_tab:hover {
    top: -8px;
    border-bottom-width: 0px;
}
.bottom_tab > .selected_tab,
.bottom_tab > .selected_tab:hover {
    bottom: 1px;
    border-top-width: 0px;
    z-index: 6;
}

.left_tab > .selected_tab,
.left_tab > .selected_tab:hover {
    margin-top: 0px;
    padding-right: 6px;
    border-right-width: 0px !important;
    border-bottom-width: 1px;
    z-index: 6;
}

.tab_content {
    position: relative;
    border: 1px solid #c0c0c0;
    padding: 5px;
    z-index: 2;
    height: 100%;
}
.top_tab .tab_content {
    top: 10px;
}
.left_tab .tab_content {
    position: relative;
    border-width: 0px;
    border-left-width: 1px;
}

.selected_content {
    display: block;
}
.top_tab .selected_content {
    top: -9px;
    width: 100%;
}
.bottom_tab .selected_content {
    width: 100%;
    z-index: 5;
}
.left_tab .selected_content {
    border-top-width: 1px;
    top: -24px;
    z-index: 5;
}
