.sort_arrow {
	position: relative;
	top: -2px;
	width: 10px;
	border: none;
	margin-left: 5px;
}
#metrics tr td {
	font-weight: bold;
}
/* JOURNAL */
.entry_grades img {
	width: 25px;
}
.entry_full_hide {
	position: absolute;
	visibility: hidden;
}
.journal_details_label {
	font-weight: bold;
}
.journal_sotd_camera {
	float: right;
	padding-top: 6px;
	padding-right: 55px;
}
#journal_product_preview {
	position: absolute;
	visibility: hidden;
	border: 1px solid black;
	z-index: 15;
}
#journal_product_preview img {
	width: 180px;
}
#journal_product_preview img + img {
	position: absolute;
	top: 2px;
	right: 2px;
	/*
	left: 2px;
	top: 2px;
	*/
	/*
	border: 2px solid red;
	float: left;
	bottom: 0px;
	right: 0px;
	*/
	width: 25px;
}
/*
#journal_product_preview table img {
	width: 25px;
}
*/
/*#journal tr th {
	text-align: left;
	cursor: pointer;
	font-family: Garamond;
	font-size: 0.9em;
}
#journal tr th + th{
	text-align: right;
}
*/
#journal tr td + td hr {
	width: 80%;
	border-style: solid;
	border-color: #e9e9e9;
}
#journal tr td + td {
	background-repeat: no-repeat !important;
	background-position: 99% 2px !important;
	padding-bottom: 10px;
	border-bottom: 1px solid #9ca578;
}
#journal tr td + td span center img {
	border: 1px solid black;
}
#journal tr td table tr td {
	border: none;
	padding: 0px;
	padding-right: 8px;
}
#journal tr td table tr td + td span:hover {
	text-decoration: underline;	

/* REVIEWS */
#review_controls {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 0.9em;
}
#review_controls div {
	display: inline;
	margin-right: 10px;
}
#review_controls div > span {
	font-weight: bold;
	padding-right: 5px;
}
#review_controls div > span + span,
#review_controls div > select {
	font-weight: normal;
	font-size: 0.8em;
}
#review_controls select {
}
#review_controls a {
	cursor: pointer;
}
#review_tabs .tab_name img {
	width: 30px;
}
#review_tabs .left_tab .tab_content {
	overflow-y: scroll;
	overflow-x: hidden;
}
.review_entry {
	display: block;
	/*background-color: #f9efe7;*//*ffeee3;*//*fdefe4;*//*f0ded3;*/
	background-repeat: no-repeat !important;
	background-position: 99% 5px !important;
	border-top: 1px solid #9ca578;/*d0a98f;*//*b88766*/; /*d5d5d5;*/
	padding: 5px;
	margin-bottom: 10px;
	z-index: 9;
	width: 94%;
}
.review_entry table {
	display: inline;
	clear: left;
}
.review_entry table tr td img {
	display: inline;
	width: 150px;
}
.review_entry table tr + tr td {
	text-align: center;
}
/* controls */
.review_entry table tr + tr td span {
	padding-right: 10px;
	padding-left: 10px;
}
.review_entry table tr + tr td span img {
	width: 10px;
}
.review_entry table + table {
	display: inline;
	vertical-align: top;
	position: relative;
	left: 10px;
	font-size: 0.9em;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.review_entry {
	margin-top: 10px;
}
.review_entry table + table tr + tr td table {
	margin-top: 10px;
	font-size: 0.8em;
}
.review_entry table + table tr + tr td table img {
	width: 25px;
	padding-right: 20px;
}
/* details */
.review_entry table + table tr > td {
	font-weight: bold;
	cursor: pointer;
}
.review_entry table + table tr > td:hover {
	text-decoration: underline;
}
.review_entry table + table tr > td span {
	margin-left: 20px;
	color: #F00;
}
.review_entry table + table tr + tr td {
	font-weight: normal;
	text-align: left;
	cursor: default;
}
.review_entry table + table tr + tr td:hover {
	text-decoration: none;
}
.review_entry table + table tr + tr + tr + tr td {
	width: 600px; /* TODO */
}
.review_entry hr {
	width: 80%;
	border-style: solid;
	border-color: #e2e2e2;
}
#reviews .list_filter {
	/*top: 5px;*/
	right: 17px;
}
#reviews .tab_content {
	overflow: scroll;
}
#review_tabs {
	position: relative;
	top: 28px;
}
#review_tabs .selected_content {
	/*height: 650px !important;*/
	overflow: scroll;
}

/* BEST SETUPS */
#combo_hof {
	padding-top: 15px;
	padding-bottom: 15px;
}
#combo_hof table
{
	display: inline;
	vertical-align: top;
	border: 2px solid #9ca578;
	background-color: #e4ecc5;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 15px;
	font-size: 0.9em;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	/*width: 630px;*/
	cursor: pointer;
}
#combo_hof table tr td
{
	font-weight: bold;
}
#combo_hof table tr td + td
{
	font-weight: normal;
}
#combo_hof table tr td {
}
#combo_hof table tr td img {
	width: 25px;
	padding: 10px;
}

/* FORMS */
#form_tabs .tab_content,
#form_tabs .selected_content{
	overflow-y: scroll;
	overflow-x: auto;
}
#pictures_select {
	height: 250px;
	width: 550px;
}
/*
#forms { 
	height: 720px !important;
	background-color: #f0f0f0 !important;
}
#form_tabs .tab_content {
	width: 89% !important;
}*/
